name: Teste SSH

on:
  push:
    branches: [ main ]

jobs:
  test-ssh:
    runs-on: ubuntu-latest
    steps:
      - name: Testar SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          debug: true
          script: |
            echo "SSH OK"
            whoami
            hostname
