name: CI - DevOps Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Instalar dependências (se existirem)
        run: |
          python -m pip install --upgrade pip

      - name: Rodar testes automatizados
        run: |
          python -m unittest discover

      - name: Executar script DevOps
        run: |
          python devops.py
