name: CI/CD - DevOps Pipeline

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        env: [dev, stage, prod]

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Rodar testes
        run: python -m unittest discover -s tests

      - name: Deploy na EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          debug: true
          script: |
            echo "Conectado com sucesso!"
            cd /home/ec2-user/devops || exit 1
            # Define ambiente
            export ENV=${{ matrix.env }}
            echo "Executando no ambiente: $ENV"
            # Atualiza código
            git fetch origin
            git reset --hard origin/main
            # Roda o app
            python3 devops.py
